.pickup-game-form {
    text-align: left;
    width: 100%;
    max-width: 450px;
    margin: auto;
    padding: 40px 0 60px 0;
}

.form-section {
    margin-bottom: 35px;
}

.form-buttons {
    text-align: center;
    padding-top: 50px;
}

.select {
    border: 1px solid black;
    display: block;
    font-size: 1.1em;
    padding: 10px;
    width: 100%;
    border-radius: 2px;
}

.react-datetime-picker {
    width: 100%;
    display: block;
}
.react-datetime-picker__wrapper {
    border: 1px solid black;
    padding: 8px;
}
.react-datetime-picker__inputGroup {
    font-size: 1em;
}

.number {
    border: 1px solid black;
    display: block;
    font-size: 1.1em;
    padding: 10px;
    width: 40%;
    border-radius: 2px;
}