.App {
  text-align: center;
}

.App_header {
  background-color: var(--color1);
  padding: 5px 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.App_main {
  margin: 60px 0 60px 0;
  padding: 0 10px;
}

.App_footer {
  background-color: var(--color1);
  height: 5vh;
}

/*nav,
footer {
  padding: 1%;
  background-color: #808080;
}

header {
  padding: 20px 10px;
}*/

.red {
  color: red;
  text-align: center;
}