.navbar {
    /*height: 50px;*/
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 30px;
}

.nav-links {
    list-style-type: none;
}

.nav-links li {
    display: inline-block;
    margin-left: 15px;
}