.event-item {
    width: 100%;
    min-width: 280px;
    max-width: 400px;
    margin: auto;
    margin-bottom: 5px;
    background-color: white;
    color: black;
    border: 1px solid var(--color1);
    border-radius: .25em;
    padding: 10px;
    text-align: left;
}

.event-item-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.event-item-footer {
    padding-bottom: 5px;
}

.event-item-title,
.black {
    color: black;
}
.event-item-sport {
    color: var(--color1)
}

@media (min-width: 680px) {
    .event-item {
        flex: 1 1 320px;
    }
}